# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
bin/bohr
.vscode/
doc/ignore/
deps/
*.curr
tags

# LaTeX
doc/*.aux
doc/*.bbl
doc/*.lof
doc/*.log
doc/*.out
doc/*.pdf
doc/*.synctex.gz
doc/*.toc
doc/*.lot
doc/*.blg
doc/*.bcf
doc/*.run.xml
doc/_minted*
doc/*.lol